# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Original .gitignore
.DS_Store
Thumbs.db
bower_components/
node_modules/
workfiles/
app/scss/.sass-cache/*
pedals alias
pedals-new alias
config.codekit3
0_pre
1_post
_post
_pre
app/images/pedals/.pedals-public.lnk
public/images/pedals/.pedals-app.lnk
cmd.lnk
app/images/desktop.ini
app/images/pedals/desktop.ini
app/images/pedals/desktop.ini
*.ini
